@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --neutral-0: #ffffff;
  --neutral-100: #f7f7f7;
  --neutral-200: #dadada;
  --neutral-400: #898989;
  --neutral-600: #575757;
  --neutral-900: #232323;

  --green-100: #e9ffea;
  --green-200: #00ad0c;
  --green-300: #008209;
  --green-400: #006907;

  --blue-100: #dee9ff;
  --blue-400: #0e53e9;

  --orange-100: #fff2d4;
  --orange-400: #ffae00;

  --red-100: #fce9ed;
  --red-400: #b70b0b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Helvetica, sans-serif;
}


/* Typography */
.heading-1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.heading-2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.heading-3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.block-title-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.body-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.body-bold-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.caption-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.link-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.nav-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 48px;
    line-height: 48px;
  }

  .heading-2 {
    font-size: 24px;
    line-height: 40px;
  }

  .heading-3 {
    font-size: 18px;
    line-height: 32px;
  }

  .block-title-text {
    font-size: 14px;
    line-height: 24px;
  }

  .body-text {
    font-size: 14px;
    line-height: 24px;
  }

  .body-bold-text {
    font-size: 14px;
    line-height: 24px;
  }

  .caption-text {
    font-size: 12px;
    line-height: 16px;
  }

  .link-text {
    font-size: 12px;
    line-height: 16px;
  }

  .nav-text {
    font-size: 20px;
    line-height: 32px;
  }
}


/* Buttons */
.btn {
  border-radius: 8px;

  padding: 8px 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--green-200);
  color: var(--neutral-0);

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  cursor: pointer;
}

.btn-lg {
  height: 56px;
}

.btn-sm {
  height: 32px;
}

.btn:hover:not(:disabled) {
  background-color: var(--green-300);
}

.btn:active:not(:disabled) {
  background-color: var(--green-400);
}

.btn:disabled {
  background-color: var(--neutral-400);
  cursor: auto;
}

.btn-secondary {
  background-color: var(--neutral-0);
  color: var(--green-200);
  border: 1px solid var(--green-200);
}

.btn-secondary:hover:not(:disabled) {
  background-color: var(--green-100);
}

.btn-secondary:active:not(:disabled) {
  background-color: var(--green-200);
  color: var(--neutral-0);
}

.btn-secondary:disabled {
  background-color: var(--neutral-0);
  color: var(--neutral-400);
  border: 1px solid var(--neutral-200);
}


/* Header */
header {
  background-color: var(--neutral-0);
  padding: 12px 40px;
  border-bottom: 1px solid var(--neutral-200);
}

.logo-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--green-200);
}

.logo-text-dark {
  color: var(--neutral-900);
}

.header-btn {
  height: 40px !important;
  margin: 0;
  padding: 8px 12px;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

nav a {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--neutral-900);
}

nav a.active {
  color: var(--green-200);
  border-bottom: 2px solid var(--green-200);
}

nav a:hover {
  color: var(--green-200);
}


/* Dish Card */
.dish-card {
  background-color: var(--neutral-0);
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 0px 10px 4px #C2C2C280;

  width: 316px;
  height: 304px;
}